<div class="p-4 flex flex-col space-y-2 items-center justify-center text-gray-500">
    <p>You haven't created template yet!</p>
    <%= link_to "Create New", new_template_path, class: "border border-blue-600 rounded-md py-1 px-2 text-sm text-blue-600" %>
</div>